<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @appointment_vote.state %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @appointment_vote.appointment %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment_vote.user %>
</p>

<%= link_to 'Edit', edit_appointment_vote_path(@appointment_vote) %> |
<%= link_to 'Back', appointment_votes_path %>
